{% set page = {
  title: 'Call 111 now'
} %}

{% extends page.layout.file | d(layouts.base) %}


{% block content_primary %}

       <div class="app-call-to-action">
        <h1 data-test-id="outcome-heading" class="nhsuk-heading-l">Sorry, there is a problem. Try to connect with 111 again.</h1>
         </div>

            <h1 class="nhsuk-heading-xl" data-test-id="outcome-heading">You need to speak to a health adviser</h1>
              <p>We cannot complete your assessment online. You need to speak to a health adviser to get the right help.</p>

              <p>Connecting to 111 from this screen means:</p>
                  <ul>
                      <li>
                          you will speak to someone more quickly
                      </li>
                      <li>
                          your personal details stored in the NHS App (name, phone number, NHS number and postcode) will be sent
                      </li>
                      <!--
                      <li>
                          the health adviser will know the symptom you chose
                      </li>
                      -->
                     
                  </ul>
              <p>The health adviser will ask you to confirm details such as your name. You will also have to answer some more questions about your symptoms.</p>

              <br>
            <form method="post">
                  
                    {{ button({
                      text: "Connect me with 111 now", 
                      href: "web-where-are-you-now-3",
                      disabled: false
                    }) }}
                    
             </form>
             <br>
              <!--
              <details class="nhsuk-details nhsuk-u-reading-width nhsuk-u-margin-top-4"><summary class="nhsuk-details__summary" data-event-trigger="click" data-event-value="I am unable to book a call"><span class="nhsuk-details__summary-text">I am unable to book a call</span></summary><div class="nhsuk-details__text">
                  <p>
                  Local NHS callback services are currently only available on the phone.
                  There are <a href="/Help/OtherWays" target="_blank" data-event-trigger="click" data-event-value="Other ways to contact 111">other ways to contact 111<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a>, but unfortunately, you'll have to provide all your answers again.
              </p>
              </div></details>
              
              --> 

        <hr class="app-section-break">
                <div class="nhsuk-u-reading-width">
                    <details data-test-id="worsening-advice" class="nhsuk-details "><summary class="nhsuk-details__summary" data-event-trigger="click" data-event-value="worsening advice">
                        <span class="nhsuk-details__summary-text">What if I get cut off? </span></summary>
                            <div class="nhsuk-details__text">
                                <p>If you lose phone signal and try again with 30 minutes your personal details will still be sent.</p>
                            </div>
                        </details>
                </div>


  
    
   


  

{% endblock %}